.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: rgb(201, 216, 249);
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
