.App {
  text-align: center;
}

body{
  background-color: rgb(201, 216, 249);
}

button{
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}